<nav>
  <nav class="category-nav">
    <a class="cat-a"><button class="btn">All Itineraries</button></a>
    <a class="cat-a"><button class="btn">Stay</button></a>
    <a class="cat-a"><button class="btn">Taste</button></a>
    <a class="cat-a"><button class="btn">Vibe</button></a>
    <a class="cat-a"><button class="btn">Experience</button></a>
  </nav>
</nav>