<!-- container start -->
<div class="container-fluid">
  <!-- row start -->
  <div class="row">
    <!-- col start -->
    <div class="col-lg-12">
      <!-- divider start -->
      <div class="divider-l"></div>
      <!-- divider end -->
      <!-- line start -->
      <div class="the-line"></div>

      <!-- line end -->
      <!-- divider start -->
      <div class="divider-l"></div>
      <h4 class="cords">40.7128° N, <span> </span>74.0060° W</h4>
      <!-- divider end -->
    </div>
    <!-- col end -->
  </div>
  <!-- row end -->
</div>

<div class="container-fluid">
  <!-- row start -->
  <div class="row">
    <!-- col start -->
    <div class="col-lg-12">
      <!-- divider start -->
      <div class="divider-l"></div>
      <!-- divider end -->
      <!-- line start -->
      <div class="the-line"></div>

      <!-- line end -->
      <!-- divider start -->

      <!-- divider end -->
    </div>
    <!-- col end -->
  </div>
  <!-- row end -->
</div>
<!-- row end -->