<!-- parallax wrapper start -->
<div class="parallax-title hero-banner">
  <!-- HTML5 video URL start -->
  <div class="container-custom post-list-item-container">
    <video class="hero-video-lg" playsinline autoplay loop muted>
      <source src="{{video}}" type="video/mp4">
    </video>
    {{#if button}}
    <!-- button start -->
    <div id="light-hero-logo" class="button-effect more-wraper-center more-wraper-center-home fadeIn-element">
      
        <div class="more-wraper-inner-home">
          <i class="pulse"></i>
          <div class="more-button-txt-center more-button-txt-center-home">
            <a class="" href="/login-signup"><span>Get early access</span></a>
          </div>
        </div>
      
    </div>
    <!-- button end -->
    {{/if}}
  </div>
  <!-- HTML5 video URL end -->
  <!-- page title start -->
  <div class="footer-credits-logo hero-title">
    <h1>{{{title}}}</h1>
  </div>
  <div id="transparent-bg-floated" class="footer-credits-logo hero-content hero-title">
    <p id="title-text">
      {{content}}
    </p>
  </div>
  <!-- page title end -->
</div>