<div class="container-fluid nopadding category-section">
  <div style="margin-bottom: 50px;" class="edit-buttons">
    <button type="button" class="edit-link btn submit-blog delete-section-btn">Delete Experience</button>
  </div>
  <!-- row start -->
  <div class="row">
    <!-- col start -->
    <div class="col-lg-12">
      <div class="box-img">
        <div class="gallery-img">
          <div class="container-fluid">
            <!-- row start -->
            <div class="row">
              <h2 class="guider">Provide an intriguing banner of your</h2>
              <h2>EXPERIENCE</h2>
              <!-- gallery item start -->
              <div class="legendary-gallery">
                <input class="image-input" type="file" accept="image/png, image/jpeg" required>
                <figure class="col-sm-12 col-md-12 move-down flex-center cat-figure" style="margin-bottom:20px;">
                </figure>
              </div>
              <!-- divider start -->
              <div class="divider-l visible-mobile-devices"></div>
              <!-- divider end -->
              <!-- section title start -->
              <h2 class="section-heading highlight">
                Highlights of
              </h2>
              <input required class="destination" type="text" placeholder="type your destination here"
                style="text-align: center;" />
              <!-- section title end -->

              <!-- section txt start -->
              <div class="section-txt" style="margin-top: 25px;">
                <h2 class="guider">Tell about your EXPERIENCE</h2>
                <textarea class="textarea-itinerary" required></textarea>
              </div>
              <!-- section txt end -->
              <!-- divider start -->
              <div class="divider-l"></div>
              <!-- divider end -->
              <!-- section txt start -->
              <!-- divider start -->
              <div class="divider-l visible-mobile-devices"></div>
              <!-- divider end -->
            </div>
            <!-- row end -->
          </div>
        </div>
      </div>
    </div>
    <!-- col end -->
  </div>

  <div class="row">
    <!-- col start -->
    <div class="col-lg-12">
      <!-- divider start -->
      <div class="divider-l"></div>
      <!-- divider end -->
      <!-- line start -->
      <div class="the-line"></div>
      <!-- line end -->
      <!-- divider start -->
      <div class="divider-l"></div>
      <!-- divider end -->
    </div>
    <!-- col end -->
  </div>
</div>