<div class="container category-section">
  <div class="edit-buttons">
    <button type="button" class="edit-link btn submit-blog delete-section-btn">Delete Vibe</button>
  </div>
  <div class="extra-margin-container extra-margin-container-post">
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <div class="text">
          <!-- divider start -->
          <div class="divider-m"></div>
          <!-- divider end -->
          <!-- section title start -->
          <h2 class="guider">Tell about the</h2>
          <h2>
            VIBE
          </h2>
          <!-- section title end -->
          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
        </div>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-md-12">
        <!-- section txt start -->
        <textarea class="textarea-itinerary" required></textarea>
        <!-- section txt end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <!-- divider start -->
        <div class="divider-l"></div>
        <!-- divider end -->
        <!-- line start -->
        <div class="the-line"></div>
        <!-- line end -->
        <!-- divider start -->
        <div class="divider-l"></div>
        <!-- divider end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <div class="container-fluid nopadding">
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">
          <!-- item start -->
          <!-- item IMG start -->
          <h2 class="guider">Provide a banner that captures the VIBE</h2>
          <input class="image-input" type="file" accept="image/png, image/jpeg" required>
          <figure class="col-sm-12 col-md-12 move-down flex-center cat-figure">
          </figure>
          <!-- item IMG end -->
          <!-- item end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-md-12 col-sm-12">
          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
          <div class="row">
            <!-- col start -->
            <div class="col-md-12">
              <!-- section txt start -->
              <h2 class="guider">Tell more about the VIBE</h2>
              <textarea class="textarea-itinerary" required></textarea>
              <!-- section txt end -->
              <!-- divider start -->
              <div class="divider-l"></div>
              <!-- divider end -->
            </div>
            <!-- col end -->
          </div>
          <!-- button start -->
          <div class="more-wraper-center">
            <a href="#">
              <div
                class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
              </div>
              <div class="more-button-txt-center more-button-txt-center-close">
                <span>Bring to <br> life</span>
              </div>
            </a>
          </div>
          <!-- button end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
  </div>
  <!-- row start -->
  <div class="row">
    <!-- col start -->
    <div class="col-lg-12">
      <!-- divider start -->
      <div class="divider-l"></div>
      <!-- divider end -->
      <!-- line start -->
      <div class="the-line"></div>
      <!-- line end -->
      <!-- divider start -->
      <div class="divider-l"></div>
      <!-- divider end -->
    </div>
    <!-- col end -->
  </div>
  <!-- row end -->
</div>