<!-- gallery IMG start -->
{{!-- <div class="arrow-container arrow-left" style="">
  <i class="fa-solid fa-arrow-left arrow-style"></i>
</div>
<div class="arrow-container arrow-right" style="">
  <i class="fa-solid fa-arrow-right arrow-style"></i>
</div> --}}
<div id="gallery-img" class="bg-light margin-top">
  <!-- container start -->
  <div class="container-fluid">
    <!-- row start -->
    <div class="row">
      <!-- photoSwipe start -->
      <div class="legendary-gallery">
        <!-- testimonials start -->
        <div class="owl-carousel owl-carousel-testimonials">
          <!-- testimonials quote start -->
          <div class="testimonial testimonial-2">
            <!-- gallery item start -->
            {{!-- <a href="/blog/1"> --}}
              <figure class="gallery-figure">
                <img alt="Image description" class="img-responsive" src="/public/img/homepage/hotel-resize.webp">
                <h2 class="gallery-h2">STAY</h2>
                <p class="gallery-caption">Find your next awe-inspiring getaway from browsing voyage blogs by<br />STAY
                </p>
              </figure>
            {{!-- </a> --}}
          </div>
          <div class="testimonial testimonial-2">
            <!-- gallery item start -->
            {{!-- <a href="/blog/2"> --}}
              <figure class="gallery-figure">
                <img alt="Image description" class="img-responsive" src="/public/img/homepage/diner-resize.webp">
                <h2 class="gallery-h2">TASTE</h2>
                <p class="gallery-caption">Find your next soul satisfying meal from browsing voyage blogs by<br />TASTE
                </p>
              </figure>
            {{!-- </a> --}}
            <!-- gallery item end -->
          </div>
          <div class="testimonial testimonial-2">
            <!-- gallery item start -->
            {{!-- <a href="/blog/3"> --}}
              <figure class="gallery-figure">
                <img alt="Image description" class="img-responsive" src="/public/img/homepage/group-resize.webp">
                <h2 class="gallery-h2">VIBE</h2>
                <p class="gallery-caption">Find your next happy place from browsing voyage blogs by<br />VIBE</p>
              </figure>
            {{!-- </a> --}}
            <!-- gallery item end -->
          </div>
          <div class="testimonial testimonial-2">
            <!-- gallery item start -->
            {{!-- <a href="/blog/4"> --}}
              <figure class="gallery-figure">
                <img loading="lazy" alt="Image description" class="img-responsive" src="/public/img/homepage/ballons-resize.webp">
                <h2 class="gallery-h2">EXPERIENCE</h2>
                <p class="gallery-caption">Embark on an unforgettable journey from browsing voyage blogs
                  by<br />EXPERIENCE</p>
              </figure>
            {{!-- </a> --}}
            <!-- gallery item end -->
          </div>
        </div>
        <!-- gallery item end -->
      </div>
      <!-- photoSwipe end -->
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
</div>
<!-- gallery IMG end -->

<!-- container end -->