<!-- to top arrow start   <span class="ion-ios-arrow-up"></span>-->
<div class="to-top-arrow">
  <ion-icon name="chevron-up" style="font-size: 31px; margin-top: 7px"></ion-icon>
</div>
<!-- to top arrow end -->