<!-- video testimonials start -->
<div id="video-testimonials-2" class="section-all">
  <!-- container start -->
  <div class="container-fluid">
    <!-- row start -->
    <div class="row">
      <!-- parallax wrapper start -->
      <div class="parallax parallax-all">
        <!-- HTML5 video URL start -->
        <video playsinline autoplay loop muted>
          <source src="/public/html5-videos-22/Luxex-2-resize.mp4" type="video/mp4">
        </video>
        <!-- HTML5 video URL end -->
        <!-- parallax overlay start -->
        <div class="parallax-overlay-video-testimonials"></div>
        <!-- parallax overlay end -->
        <!-- parallax content start -->
        <div class="parallax-content">
          <!-- line start -->
          <div class="the-line the-line-light"></div>
          <!-- line end -->
          <!-- divider start -->
          <div class="divider-l"></div>
          <h2 class="test">Testimonials</h2>
          <!-- divider end -->
          <!-- testimonials start -->
          <div class="owl-carousel owl-carousel-quotes">

            <!-- testimonials quote start -->
            <div class="testimonial testimonial-2">
              <div class="inner">
                <div class="quote">
                  <blockquote class="quote-inner">
                    “Planning any trip takes way too long, being able to connect and plan out the entire trip in one
                    stop is a major win!”
                    <span class="test-img">
                      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-1 sm:gap-y-16 xl:col-span-2">
                        <li>
                          <div class="img-test flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="/public/img/zam.webp" alt="">
                            <div>
                              <h2 class="test-names">@_zamarlewis_</h2>
                            </div>
                          </div>
                        </li>

                      </ul>
                    </span>
                  </blockquote>

                </div>
              </div>
            </div>
            <!-- testimonials quote end -->
            <!-- testimonials quote start -->
            <div class="testimonial testimonial-2">
              <div class="inner">
                <div class="quote">
                  <blockquote class="quote-inner">
                    “After several lackluster trips based off random reviews, experiencing a trip from tailored reviews
                    and insight was game changing from My Voyages!”
                    <span class="test-img">
                      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-1 sm:gap-y-16 xl:col-span-2">
                        <li>
                          <div class="img-test flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="/public/img/sam.webp" alt="">
                            <div>
                              <h2 class="test-names">@SamsonRichOfficial</h2>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </span>
                    </span>
                  </blockquote>
                </div>
              </div>
            </div>
            <!-- testimonials quote end -->
            <!-- testimonials quote start -->
            <div class="testimonial testimonial-2">
              <div class="inner">
                <div class="quote">
                  <blockquote class="quote-inner">
                    “Once I realized I liked traveling a certain way and doing things I like, I had to use My Voyages to
                    find my vibe.”
                    <span class="test-img">
                      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-1 sm:gap-y-16 xl:col-span-2">
                        <li>
                          <div class="img-test flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full" src="/public/img/angi.webp" alt="">
                            <div>
                              <h2 class="test-names">@angiecastilloxo</h2>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </span>
                  </blockquote>
                </div>
              </div>
            </div>
            <!-- testimonials quote end -->
          </div>
          <!-- testimonials end -->

          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
          <!-- line start -->
          <div class="the-line the-line-light"></div>
          <!-- line end -->
        </div>
        <!-- parallax content end -->
      </div>
      <!-- parallax wrapper end -->
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
</div>
<!-- video testimonials end -->