<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    My Voyages
  </title>
  <meta content="" name="description">
  <meta content="" name="author">
  <meta content="" name="keywords">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <!-- style start -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Montserrat&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="/public/css/1-plugins.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/2-reset.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/3-nav.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/4-hero.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/5-parallax-video.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/6-image-styles.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/7-headings.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/8-footer.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/9-swiper.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/10-contact.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/11-news-blog.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/12-cas-classes.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/13-vertical-lines.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/14-up-arrow.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/15-divider.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/16-feature-itinerary.css" media="all" rel="stylesheet" type="text/css">

  <link href="/public/css/blog-page.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/blog-feed.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/dashboard.css" media="all" rel="stylesheet" type="text/css">

  <link href="/public/css/17-homepage.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/18-itinerary-feed.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/19-ambassador.css" media="all" rel="stylesheet" type="text/css">
  <link href="/public/css/20-preview-page.css" media="all" rel="stylesheet" type="text/css">
  <!-- style end -->
  <!-- google fonts start -->
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7CMontserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" type="text/css">
  <!-- google fonts end -->
  <link rel="shortcut icon" href="/public/img/logo-64x64.png" type="x-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/css/plugins/image.min.css" rel="stylesheet"
    type="text/css" />

  <!-- Include Froala Editor CSS. -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/froala_editor.pkgd.min.css"
    integrity="sha512-gq5lDxGzNYorf8dQYI04BhyzSkpgBfFobhPMsxxTMYmPPxOETOleUVibj4vK0+RhDbtGcsHURATl6mCBvBVOnw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/froala_style.min.css"
    integrity="sha512-7LA92qqMxQg1dy0GXIaceecW4zpFq/pu2inmPOd/IaCjDnjzDP1luaG9NTYU8BeaUmBw73jHCGRJjQ3xDpdDlg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Include TUI CSS. -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tui-image-editor@3.2.2/dist/tui-image-editor.css">
  <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css">

  <!-- Include TUI Froala Editor CSS. -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/third_party/image_tui.min.css"
    integrity="sha512-TK7f0H3VHjPnEQTT6cfy332pUsGxDkyY4slvnWPs8ZswbFSCtkVNo2n/e+tO7lOtNSDmU6w6h4V/5egqDxyq5g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  {{!-- Froala plugins --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/plugins/draggable.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins.pkgd.min.css"
    integrity="sha512-bDLWVk6GETWKrE2IgZslX+Z+H5qbNtE8lOHOImoO8pUuu5BW1xtPef4l7r+oD1pq+7v0el6YPfBFahakrKDyGQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/draggable.min.css"
    integrity="sha512-at4pffEflobQW8GEtiGvSCCv1rCm7a8J4JISUega8S4slBbl8uwo3cCrpLhb1TUVNRKx47V/KjbCyt/RyIKJOQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/emoticons.min.css"
    integrity="sha512-fnoLEfy2uRENpVy6NBroAUhGiY8d3asMSZLxhPFHtzBOC48L8/25iRtjiBksrNoNVZvVwGGjdPVsheN1LVZV2g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/file.min.css"
    integrity="sha512-96eBNTDRQtdVCotUSGelX0NSfVyf/2Jf/jCXmkiG3E490OMFHkl4b//CsSDYOAjd4VVBSaMOoKtK1akRoWJB4Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/files_manager.min.css"
    integrity="sha512-8wyLwDRFX+6Dw6jK3fpKI0M/9Vvjlap1a/oLZYArejzYws6MdKamgmfWAP1lRRITuDSnI2SBpldS+fXmdd0cjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/fullscreen.min.css"
    integrity="sha512-1Igp3angD8MXa7TPxfo8YEsXxgYbldOG0nCQWFkV0gdqoAj1bF7liygppamBKEkm283uf/cOG/d5x+REFI8KoQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/image.min.css"
    integrity="sha512-mZAf9yaq+fySTzl6G/w3D+P0I+b48WCB87t4D9ezn9C+wpiYWhm58IeC/WfTb2jRyzK+5flORVI/VFHK1i7VsQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/quick_insert.min.css"
    integrity="sha512-yR1zUOTkFYEvCONcYZcJeTUSf6QiGQu6HtV4/fwxY7r2fwMW2UKoLQM7Bbe0qAcoeNvCfYfr8azZyKLsRJVFxQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/css/plugins/table.min.css"
    integrity="sha512-sEMwzJMYFUCJNi7bFqaP3zktfoYfr1WTy3XdGBgoXDi6ALppAqkZQWyFy2vuGrVR7LMBqwS89Yps86GEl8AZog=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  {{{ body }}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.usebootstrap.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="/public/js/main/plugins.js"></script>
  <script src="/public/js/main/luxex.js"></script>
  {{!--
  <script src="/public/js/main/destinations.js"></script>--}}
  <script src="/public/js/account-controls/logout.js"></script>

  <!-- Include external JS libs. -->
  {{!--
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script> --}}
  <!-- Include Editor JS files. -->
  {{!--
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/js/plugins/align.min.js"
    integrity="sha512-lM60Jk5iK9UTiZrI2oMQkbKnYGVZ0N579yTBsm9BgVEvKuroCFUWHZ34tXSnUlXB1rTQPRAhmJ5ea0/KoPM6VA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/4.0.17/js/plugins/image.min.js"
    integrity="sha512-+NCWqhF66B9qBu1x0eSbNWQDa6wE0t33Ym7WB7fH1O4ZmLt70mW7p1H82roX0J1qthMnywjd73x0Ex8+/mSlFw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}

</body>

</html>