<!-- tst line start -->
<div class="tst-line-t"></div>
<div class="tst-line-l"></div>
<div class="tst-line-r"></div>
<div class="tst-line-b"></div>
<!-- tst line end -->
<!-- border top start -->
<!-- container start -->
<div class="container-fluid nopadding">
  <div class="extra-margin-border">
    <div class="border-top"></div>
  </div>
</div>
<!-- container end -->
<!-- border top end -->
{{> nav-bar nav}}
<!-- home end -->
<!-- vertical lines start -->
<div class="vertical-lines-wrapper">
  <div class="vertical-lines"></div>
</div>
<!-- vertical lines end -->
<!-- post wrapper start -->
<div class="post-wrapper">
  <!-- post content start -->
  <div class="lower-page lower-page-post">
    <div class="post-content">
      <!-- container start -->
      <div class="container">
        <div class="extra-margin-container extra-margin-container-post">
          <div class="row">
            <!-- col start -->
            <div class="col-lg-12">
              <div class="text">
                <!-- divider start -->
                <div class="divider-m"></div>
                <!-- divider end -->
                <!-- section title start -->
                <h2 class="feature-title">
                  Expidition Through Bangkok and Phuket
                </h2>
                <h2 class="curated-by">
                  Curated by
                </h2>
                <!-- section title end -->
                <div class="profile">
                  <div class="profile-image">
                    <img src="/public/img/feature/chelle.png" alt="profile picture">
                    <h2>Tichelle Richards</h2>
                  </div>
                  <div class="infomation">
                    <div class="hobbies">
                      <div class="activies">
                        <ion-icon size="large" name="clipboard-sharp"></ion-icon>
                        <p>Favorite Activies <br> Boating-Hiking</p>
                      </div>
                      <div class="visited-contries">
                        <h2>6</h2>
                        <p>Visited <br> Countries</p>
                      </div>
                    </div>
                    <div class="right-now">
                      <div class="activies">
                        <ion-icon size="large" name="location-sharp"></ion-icon>
                        <p>Right Now<br> Miami, Florida</p>
                      </div>
                      <div class="visited-contries">
                        <h2>3</h2>
                        <p>Visited <br> Wonders</p>
                      </div>
                    </div>
                  </div>
                  <div class="profile-bio">
                    <h4 class="curators-statement">Curator’s statement</h4>
                    <p>Georgia-based travel junkie always looking for the next adventure. Lover of museums, sightseeing
                      and delicious food. You can frequently find me in London, exploring the city.</p>
                  </div>
                </div>
                <!-- section title end -->
                <!-- divider start -->
                <div class="divider-l"></div>
                <!-- divider end -->
              </div>
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
          <!-- row start -->

          <!-- row end -->
          <!-- row start -->
          <div class="row">
            <!-- col start -->
            <div class="col-md-12">
              <!-- divider start -->
              <!-- divider end -->
              <!-- section txt start -->
              <p class="text">
              </p>
              <!-- section txt end -->
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
          <div class="row">
            <!-- col start -->
            <div class="col-lg-12">
              <!-- divider start -->
              <div class="divider-l"></div>
              <!-- divider end -->
              <!-- line start -->
              <div class="the-line"></div>
              <!-- line end -->
              <!-- divider start -->
              <div class="divider-l"></div>
              <!-- divider end -->
            </div>
            <!-- col end -->
          </div>
          <!-- row start -->
          <div class="row">
            <!-- col start -->
            <div class="col-lg-12">
              <div class="text">
                <!-- section subtitle start -->
                <div class="star-wrapper">
                  <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                  <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                  <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                  <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                  <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                </div>
                <!-- section subtitle end -->
                <!-- divider start -->
                <div class="divider-m"></div>
                <!-- divider end -->
                <!-- section title start -->
                <h2>
                  STAY
                </h2>
                <!-- section title end -->
                <!-- divider start -->
                <div class="divider-l"></div>
                <!-- divider end -->
                <h2 class="section-heading ">
                  Eastin Grand Hotel
                </h2>
              </div>
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
          <!-- row start -->
          <div class="row">
            <!-- col start -->
            <div class="col-md-3">
              <!-- section subtitle start -->
              <div class="blog-tag blog-tag-rooms">Room Service <ion-icon name="home"></ion-icon></div>
              <!-- section subtitle end -->
              <!-- divider start -->
              <div class="divider-m"></div>
              <!-- divider end -->
            </div>
            <!-- col end -->
            <!-- col start -->
            <div class="col-md-3">
              <!-- section subtitle start -->
              <div class="blog-tag blog-tag-rooms">WIFI <ion-icon name="wifi"></ion-icon></div>
              <!-- section subtitle end -->
              <!-- divider start -->
              <div class="divider-m"></div>
              <!-- divider end -->
            </div>
            <!-- col end -->
            <!-- col start -->
            <div class="col-md-3">
              <!-- section subtitle start -->
              <div class="blog-tag blog-tag-rooms">Minibar <ion-icon name="wine"></ion-icon></div>
              <!-- section subtitle end -->
              <!-- divider start -->
              <div class="divider-m"></div>
              <!-- divider end -->
            </div>
            <!-- col end -->
            <!-- col start -->
            <div class="col-md-3">
              <!-- section subtitle start -->
              <div class="blog-tag blog-tag-rooms">Bath Tub & Shower <ion-icon name="water"></ion-icon></div>
              <!-- section subtitle end -->
              <!-- divider start -->
              <div class="divider-m"></div>
              <!-- divider end -->
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->

          <div class="row">
            <!-- col start -->
            <div class="col-md-12">
              <!-- section txt start -->
              <p class="text">
              </p>
              <!-- section txt end -->
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
        </div>
      </div>
      <!-- container end -->
      <!-- container start -->
      <div class="container-fluid nopadding">
        <!-- row start -->
        <div class="row">
          <!-- col start -->
          <div class="col-lg-12">
            <!-- item start -->
            <div class="box-img">
              <!-- gallery IMG start -->
              <div id="gallery-img" class="bg-light">
                <!-- divider start -->
                <!-- divider end -->
                <!-- container start -->
                <div class="container-fluid">
                  <!-- row start -->
                  <div class="row">
                    <!-- photoSwipe start -->
                    <div class="legendary-gallery">
                      <!-- gallery item start -->
                      <figure class="col-sm-12 col-md-4  move-down">
                        <img alt="Image description" class="img-responsive"
                          src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/hotel-pool.jpg">
                      </figure>
                      <!-- gallery item end -->
                      <!-- gallery item start -->
                      <figure class="col-sm-12 col-md-4  move-down">
                        <img alt="Image description" class="img-responsive"
                          src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/hotel-lobby.jpg">
                      </figure>
                      <!-- gallery item end -->
                    </div>
                    <!-- photoSwipe end -->
                  </div>
                  <!-- row end -->
                </div>
                <!-- container end -->
              </div>
              <!-- gallery IMG end -->
            </div>
            <!-- item end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
          <!-- col start -->
          <div class="col-md-12 col-sm-12">
            <!-- divider start -->
            <div class="divider-l"></div>
            <!-- divider end -->
            <!-- button start -->
            <div class="more-wraper-center">
              <a href="#">
                <div
                  class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
                </div>
                <div class="more-button-txt-center more-button-txt-center-close">
                  <span>Details</span>
                </div>
              </a>
            </div>
            <!-- button end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->

      <!-- container start -->
      <div class="container">
        <div class="extra-margin-container extra-margin-container-post">
          <!-- row start -->
          <!-- row start -->
          <div class="row">
            <!-- col start -->
            <div class="col-lg-12">
              <!-- divider start -->
              <div class="divider-l"></div>
              <!-- divider end -->
              <!-- line start -->
              <div class="the-line"></div>
              <!-- line end -->
              <!-- divider start -->
              <div class="divider-l"></div>
              <!-- divider end -->
            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
        </div>
      </div>
      <!-- container end -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">
          <div class="text">
            <!-- section subtitle start -->
            <div class="star-wrapper">
              <ion-icon name="star" style="color: #ffc800;"></ion-icon>
              <ion-icon name="star" style="color: #ffc800;"></ion-icon>
              <ion-icon name="star" style="color: #ffc800;"></ion-icon>
              <ion-icon name="star" style="color: #ffc800;"></ion-icon>
              <ion-icon name="star" style="color: #ffc800;"></ion-icon>
            </div>
            <!-- section subtitle end -->
            <!-- divider start -->
            <div class="divider-m"></div>
            <!-- divider end -->
            <!-- section title start -->
            <h2>
              TASTE
            </h2>
            <!-- section title end -->
            <!-- divider start -->
            <div class="divider-l"></div>
            <!-- divider end -->
            <!-- section title start -->
            <h2 class="section-heading ">
              Night Food Tour by Tuk-Tuk
            </h2>
            <!-- section title end -->
          </div>
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->

      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-md-12">
          <!-- section txt start -->
          <p class="text">
            Savor the after-dark pleasures of Bangkok’s legendary street food scene during this evening food and
            sightseeing excursion by tuk-tuk. Travel aboard one of these iconic 3-wheeled taxis, stopping to sample
            sizzling roadside favorites like charcoal-fried noodles and pad thai. You also experience attractions like
            the flower market and the famous Wat Pho temple illuminated at night.

            Discover Bangkok's legendary after-dark street food scene during a nighttime tour by tuk-tuk
            Sample local street food favorites like pad thai and “Guay Tiew Kua Gai” (rice noodles with chicken)
            Learn about the ingredients and cooking techniques that make this simple food so tasty
            See famous Thai temples and landmarks after dark
          </p>
          <!-- section txt end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->

      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">
          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
          <!-- line start -->
          <div class="the-line"></div>
          <!-- line end -->
          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
  </div>

  <!-- container end -->
  <!-- container start -->
  <div class="container-fluid nopadding">
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <!-- item start -->
        <div class="box-img">
          <!-- item IMG start -->
          <div class="img-fullwidth-all">
            <img alt="Img" src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/chef.jpg">
          </div>
          <!-- item IMG end -->
        </div>
        <!-- item end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <!-- item start -->
        <div class="box-img">
          <!-- item IMG start -->
          <div class="img-fullwidth-all">
            <img alt="Img" src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/cart.jpg">
          </div>
          <!-- item IMG end -->
        </div>
        <!-- item end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-md-12 col-sm-12">
        <!-- divider start -->
        <div class="divider-l"></div>
        <!-- divider end -->
        <!-- button start -->
        <div class="more-wraper-center">
          <a href="#">
            <div
              class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
            </div>
            <div class="more-button-txt-center more-button-txt-center-close">
              <span>Details</span>
            </div>
          </a>
        </div>
        <!-- button end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
  <!-- container start -->
  <div class="container-fluid nopadding">
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <!-- item start -->
        <div class="box-img">
          <!-- gallery IMG start -->
          <div id="gallery-img" class="bg-light">
            <!-- divider start -->
            <!-- divider end -->
            <!-- container start -->
            <div class="container-fluid">
              <!-- row start -->
              <div class="row">
                <!-- photoSwipe start -->
                <div class="legendary-gallery">
                  <!-- gallery item start -->
                  <figure class="col-sm-12 col-md-4  move-down">
                    <img alt="Image description" class="img-responsive"
                      src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/elephants.jpg">
                  </figure>
                  <!-- gallery item end -->
                </div>
                <!-- photoSwipe end -->
              </div>
              <!-- row end -->
            </div>
            <!-- container end -->
          </div>
          <!-- gallery IMG end -->
        </div>
        <!-- item end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <div class="post-list">
          <div class="post-list-content-wrapper">
            <div class="post-list-wrapper">
              <!-- section item start -->
              <div class="post-list-item">
                <div class="container-custom post-list-item-container">
                  <div class="row post-list-row">
                    <div class="col-lg-4-custom col-md-6-custom offset-lg-7-custom">
                      <div class="post-list-content">
                        <!-- row start -->
                        <div class="row">
                          <!-- col start -->
                          <div class="col-md-12">
                            <!-- divider start -->
                            <div class="divider-l visible-mobile-devices"></div>
                            <!-- divider end -->
                            <!-- section title start -->
                            <h2 class="hero-heading hero-heading-dark">
                              EXPERIENCE
                            </h2>
                            <!-- section title end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section title start -->
                            <h2 class="section-heading ">
                              Visit Elephant Jungle Sanctuary
                            </h2>
                            <!-- section title end -->

                            <!-- section txt start -->
                            <div class="section-txt">
                              <p>
                                Get away from Bangkok for a day to spend quality time with elephants at an ethically run
                                Elephant Jungle Sanctuary in Pattaya. Gain an insight into their history and behaviour
                                while creating lifelong memories of your time with the stunning creature.

                                • Spend an enjoyable half-day with these lovely giant creatures

                                • Assist with the preparation of natural dietary supplements for the elephants

                                • Enjoy a traditional Thai food lunch with freshly cooked Pad Thai and
                                seasonal fruits

                                On the morning of your visit, you will be picked up from your accommodation in Bangkok
                                and will drive for approximately 20 minutes through scenic agricultural areas before
                                arriving at the sanctuary in Pattaya. There, you will be met by your English-speaking
                                guide and learn a little about the elephants, before changing into traditional Karen
                                clothing. You will walk with your guide through the sanctuary, where you will find
                                free-roaming elephants and hear their individual stories. Most of the elephants are
                                rescued show or riding elephants, but they are now safe and well cared for at this
                                no-riding sanctuary. Finally, you will be able to enjoy some freshly cooked Pad Thai,
                                delicious snacks and seasonal fresh fruit. Then enjoy the impressive rural scenery as
                                you drive back to the hotel.


                              </p>
                            </div>
                            <!-- section txt end -->
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                            <!-- section txt start -->
                            <!-- divider start -->
                            <div class="divider-l visible-mobile-devices"></div>
                            <!-- divider end -->
                          </div>
                          <!-- col end -->
                        </div>
                        <!-- row end -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section img start -->
                <!-- section img end -->
              </div>
              <!-- section item end -->
            </div>
          </div>
        </div>
      </div>
      <!-- col end -->
    </div>

    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <!-- item start -->
        <div class="box-img">
          <!-- gallery IMG start -->
          <div id="gallery-img" class="bg-light">
            <!-- divider start -->
            <!-- divider end -->
            <!-- container start -->
            <div class="container-fluid">
              <!-- row start -->
              <div class="row">
                <!-- photoSwipe start -->
                <div class="legendary-gallery">
                  <!-- gallery item start -->
                  <figure class="col-sm-12 col-md-4  move-down">
                    <img alt="Image description" class="img-responsive"
                      src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/ancient-temples.jpg">
                  </figure>
                  <!-- gallery item end -->
                </div>
                <!-- photoSwipe end -->
              </div>
              <!-- row end -->
            </div>
            <!-- container end -->
          </div>
          <!-- gallery IMG end -->
        </div>
        <!-- item end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <div class="post-list">
          <div class="post-list-content-wrapper">
            <div class="post-list-wrapper">
              <!-- section item start -->
              <div class="post-list-item">
                <div class="container-custom post-list-item-container">
                  <div class="row post-list-row">
                    <div class="col-lg-4-custom col-md-6-custom offset-lg-7-custom">
                      <div class="post-list-content">
                        <!-- row start -->
                        <div class="row">
                          <!-- col start -->
                          <div class="col-md-12">
                            <!-- divider start -->
                            <div class="divider-l visible-mobile-devices"></div>
                            <!-- divider end -->
                            <!-- section title start -->
                            <h2 class="hero-heading hero-heading-dark">
                              EXPERIENCE
                            </h2>
                            <!-- section title end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section title start -->
                            <h2 class="section-heading ">
                              Wat Trimit, Royal Grand Palace and Temples Tour
                            </h2>
                            <!-- section title end -->
                            <!-- section txt start -->
                            <div class="section-txt">
                              <p>
                                First, you will visit wat trimit, the temple of the golden buddha with 5.5 tonnes of
                                solid gold, sculptured in Sukhothai style.

                                The next stop is wat Phra Kaew, the chapel of the emerald buddha, which houses the
                                world’s most precious image of the lord buddha, the 75 cm statue of jade sits atop an 11
                                m golden pedestal surrounded by lavish murals and richly decorated pavilions.

                                Then you will visit the grand palace which encompasses several major buildings. The most
                                prominent buildings include the throne hall, the reception hall and the coronation hall.
                              </p>
                            </div>
                            <!-- section txt end -->
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                            <!-- section txt start -->
                            <!-- divider start -->
                            <div class="divider-l visible-mobile-devices"></div>
                            <!-- divider end -->
                          </div>
                          <!-- col end -->
                        </div>
                        <!-- row end -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- section img start -->
                <!-- section img end -->
              </div>
              <!-- section item end -->
            </div>
          </div>
        </div>
      </div>
      <!-- col end -->
    </div>

    <!-- container start -->
    <div class="container">
      <div class="extra-margin-container extra-margin-container-post">
        <div class="row">
          <!-- col start -->
          <div class="col-lg-12">
            <!-- divider start -->
            <div class="divider-l"></div>
            <!-- divider end -->
            <!-- line start -->
            <div class="the-line"></div>
            <!-- line end -->
            <!-- divider start -->
            <div class="divider-l"></div>
            <!-- divider end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row start -->
        <div class="row">
          <!-- col start -->
          <div class="col-lg-12">
            <div class="text">
              <!-- section subtitle start -->
              <div class="star-wrapper">
                <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                <ion-icon name="star" style="color: #ffc800;"></ion-icon>
                <ion-icon name="star" style="color: #ffc800;"></ion-icon>
              </div>
              <!-- section subtitle end -->
              <!-- divider start -->
              <div class="divider-m"></div>
              <!-- divider end -->
              <!-- section title start -->
              <h2>
                STAY
              </h2>
              <!-- section title end -->
              <!-- divider start -->
              <div class="divider-l"></div>
              <!-- divider end -->
              <h2 class="section-heading ">
                Banyan Tree Phuket
              </h2>
            </div>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
          <!-- col start -->
          <div class="col-md-3">
            <!-- section subtitle start -->
            <div class="blog-tag blog-tag-rooms">Room Service <ion-icon name="home"></ion-icon></div>
            <!-- section subtitle end -->
            <!-- divider start -->
            <div class="divider-m"></div>
            <!-- divider end -->
          </div>
          <!-- col end -->
          <!-- col start -->
          <div class="col-md-3">
            <!-- section subtitle start -->
            <div class="blog-tag blog-tag-rooms">WIFI <ion-icon name="wifi"></ion-icon></div>
            <!-- section subtitle end -->
            <!-- divider start -->
            <div class="divider-m"></div>
            <!-- divider end -->
          </div>
          <!-- col end -->
          <!-- col start -->
          <div class="col-md-3">
            <!-- section subtitle start -->
            <div class="blog-tag blog-tag-rooms">Minibar <ion-icon name="wine"></ion-icon></div>
            <!-- section subtitle end -->
            <!-- divider start -->
            <div class="divider-m"></div>
            <!-- divider end -->
          </div>
          <!-- col end -->
          <!-- col start -->
          <div class="col-md-3">
            <!-- section subtitle start -->
            <div class="blog-tag blog-tag-rooms">Bath Tub & Shower <ion-icon name="water"></ion-icon></div>
            <!-- section subtitle end -->
            <!-- divider start -->
            <div class="divider-m"></div>
            <!-- divider end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->

        <div class="row">
          <!-- col start -->
          <div class="col-md-12">
            <!-- section txt start -->
            <p class="text">
              This secluded Two-Bedroom Pool Villa features a private outdoor pool and jet-pool, open-air sunken bath,
              Thai Sala and spacious poolside terrace. Each villa enjoys separate dining and living areas, two
              exquisitely-furnished bedroom suites and a kitchenette.
            </p>
            <!-- section txt end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
    </div>
    <!-- container start -->
    <div class="container-fluid nopadding">
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">
          <!-- item start -->
          <div class="box-img">
            <!-- gallery IMG start -->
            <div id="gallery-img" class="bg-light">
              <!-- divider start -->
              <!-- divider end -->
              <!-- container start -->
              <div class="container-fluid">
                <!-- row start -->
                <div class="row">
                  <!-- photoSwipe start -->
                  <div class="legendary-gallery">
                    <!-- gallery item start -->
                    <figure class="col-sm-12 col-md-4  move-down">
                      <img alt="Image description" class="img-responsive"
                        src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/banyan.jpg">
                    </figure>
                    <!-- gallery item end -->
                    <!-- gallery item start -->
                    <figure class="col-sm-12 col-md-4  move-down">
                      <img alt="Image description" class="img-responsive"
                        src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/banyan-room.jpg">
                    </figure>
                    <!-- gallery item end -->
                    <!-- gallery item start -->
                    <figure class="col-sm-12 col-md-4  move-down">
                      <img alt="Image description" class="img-responsive"
                        src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/banyan-pool.jpg">
                    </figure>
                    <!-- gallery item end -->
                  </div>
                  <!-- photoSwipe end -->
                </div>
                <!-- row end -->
              </div>
              <!-- container end -->
            </div>
            <!-- gallery IMG end -->
          </div>
          <!-- item end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </div>
</div>
<!-- container end -->



<!-- container start -->
<div class="container">
  <div class="extra-margin-container extra-margin-container-post">
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-lg-12">
        <div class="text">
          <!-- divider start -->
          <div class="divider-m"></div>
          <!-- divider end -->
          <!-- section title start -->
          <h2>
            VIBE
          </h2>
          <!-- section title end -->
          <!-- divider start -->
          <div class="divider-l"></div>
          <!-- divider end -->
          <!-- section title start -->
          <h2 class="section-heading ">
            Phi Phi Islands
          </h2>
          <!-- section title end -->
        </div>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col-md-12">
        <!-- section txt start -->
        <p class="text">
          Enjoy a cruise with us to one of Thailand’s most popular tourist destinations. Explore stunning Phi Phi
          islands and Maya Bay magnificent with their golden sandy beaches where you can relax and crystal clear waters
          ideal for snorkeling. Enjoy a delicious lunch at the Phi Phi Don restaurant with a beautiful sea view. This
          boat tour also offers amazing stops at Monkey Beach, Viking Cave, Pileh Cove and Khai Island. The boat tour
          price includes a tour guide and round-trip hotel transfers in Phuket province.

          Arrive at the AA Marine pier. Register for Insurance and take the snorkel equipment, Complimentary with
          coffee, tea, snack, seasick pills for everyone. - Depart from the pier to Phi Phi Island by Speedboat.

          First head to Sightseeing and relax on the white sandy beach at Maya Bay. here is the most famous point from
          “The Beach” Movies - And then visit Pileh lagoon for snorkeling and swimming in crystal clear turquoise water
          with amazing corals and colorful fishes. - Sightseeing Viking Cave. Viking cave owns its name to the painting
          found on the eastern southern walls of the cave drawing by “Captain cook” and here you also can do for the
          snorkeling

          Enjoy a great Buffet Lunch at Arida restaurant on Phi Phi Don Island, and enjoy your free time relaxing on the
          beach before we head to Monkey island - Depart from Phi Phi island to Monkey beach and then go to Khai nok
          Island for swimming among the fish, drinking and relaxing on the beach, or enjoy water activities such as a
          banana boat, scuba diving, parasailing, or jet ski (charged extra at the island).
        </p>
        <!-- section txt end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <div class="container-fluid nopadding">
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">
          <!-- item start -->
          <div class="box-img">
            <!-- item IMG start -->
            <div class="img-fullwidth-all">
              <img alt="Img" src="/public/img/feature/Tichelle/Thailand/Bangkok-Phuket/phi-islands.jpg">
            </div>
            <!-- item IMG end -->
          </div>
          <!-- item end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
  </div>
</div>
{{> contact footer}}
{{> uparrow}}
<!-- scripts start -->
<script src="/public/js/plugins.js"></script>
<script src="/public/js/luxex.js"></script>
<!-- scripts end -->