{{> nav-bar nav}}
{{> image-gallery}}
{{> hero-banner hero}}
<!-- parallax wrapper end -->
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="collapse-btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <ion-icon class="fa-solid fa-plus" name="add"></ion-icon> How to use My Voyages?
        </button>
      </h5>
    </div>
    {{!-- content --}}
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body collapse-content collapse-content-reverse">
        {{!-- phone --}}
        <div id="tailored-review-phone" class="about-bg-1 phone-figure"></div>
        <div>
          <h2 class="hero-heading hero-heading-dark">
            Get tailored vacation itineraries directly from experienced world travelers
          </h2>

          <div class="section-txt">
            <p>
              Get connected with Voyagers
              around the world and find their shared travel
              experiences, reviews, itineraries, and much more!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="collapse-btn" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <ion-icon class="fa-solid fa-plus" name="add"></ion-icon> What do Voyagers do?
        </button>
      </h5>
    </div>
    {{!-- content --}}
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body collapse-content">
        {{!-- phone --}}
        <div class="post-list-bg facilities-bg-4 phone-figure"></div>
        <div>
          <h2 class="hero-heading hero-heading-dark" style="margin-top: 10px;">
            Display and Share<br>
            Hidden Gems from Your Voyages.
          </h2>

          <div class="section-txt">
            <p>
              Voyagers reveal the hidden gems to be enjoyed in destinations across the world by providing
              hand-crafted
              itineraries which include pictures, videos, reviews, and insights which guide travelers
              to the most fulfilling vacation experience for their next travel destination.
            </p>
          </div>
        </div>
      </div>
    </div>
    {{!-- content end --}}
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="collapse-btn" type="button" data-toggle="collapse" data-target="#collapseThree"
          aria-expanded="true" aria-controls="collapseThree">
          <ion-icon class="fa-solid fa-plus" name="add"></ion-icon> Opportunities For Voyagers
        </button>
      </h5>
    </div>
    {{!-- content --}}
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body collapse-content">
        {{!-- phone --}}
        <div id="third-collapse-phone" class="post-list-bg facilities-bg-5 phone-figure"></div>
        <div>
          <div class="collapse-content" style="flex-direction: row; justify-content: center;">
            <h2 class="hero-heading hero-heading-dark" style="width:fit-content; margin:0px">
              Inspire Travel<br>
              Globally
            </h2>
            <a href="/login-signup">
              <img loading="lazy" src="https://media.tenor.com/CKA21kCjN3QAAAAd/ali-yalniz-world-is-spinning.gif"
                id="content" width="49" height="49">
            </a>
          </div>
          <div class="section-txt padding-zero">
            <p>
              Profit from your travel experiences by
              marketing your own tailored itineraries
              comprised of your experiences, insights, and
              knowledge of hidden gems of your favorite travel destinations
              which will transform an average vacation
              into an awe-inspiring voyage.
            </p>
            <div class="more-wraper-center margin-top">
              <a href="/login-signup">
                <div class="more-button-bg-center more-button-circle" style="border: 2px dashed #000000d9;"></div>
                <div class="more-button-txt-center" style="padding-left: 1.2px;">
                  <span style="color:#000000d9;">get early access</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- content end --}}
  </div>
</div>
<!-- vertical lines start -->
<div class="vertical-lines-wrapper">
  <div class="vertical-lines"></div>
</div>
<!-- vertical lines end -->
<article class="flex-wrap">
  <section>
    <!-- container start -->
    <div class="legendary-gallery">
      <figure class="col-sm-12 col-md-12 move-down flex-center cat-figure gallery-figure gallery-figure-main">
        <h2 class="margin-top">
          STAY
        </h2>
        <p class="itinerary-text margin-bottom">Find your next awe-inspiring getaway from browsing voyage itineraries by STAY
        </p>
        </p>
        <img src="/public/img/homepage/palace-hotel-resize.webp" />
      </figure>
      <!-- item IMG end -->
      <!-- row start -->
      <div class="row margin-vertical">
        <!-- col start -->
        <div class="col-md-12 col-sm-12 move-find-up">
          <!-- divider start -->
          <!-- divider end -->
          <!-- button start -->
          <div class="more-wraper-center">
            {{!-- <a href="#"> --}}
              <div
                class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
              </div>
              <a href="/itinerary">
                <div class="more-button-txt-center more-button-txt-center-close">
                  <span>Find your STAY</span>
                </div>                
              </a>
              {{!--
            </a> --}}
          </div>
          <!-- button end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
    </div>
  </section>

  <section>
    <!-- row start -->
    <!-- item start -->
    <div class="legendary-gallery">
      <!-- item IMG start -->
      <figure style="top: 20px;"
        class="col-sm-12 col-md-12 move-down flex-center cat-figure gallery-figure gallery-figure-main">
        <h2 class="margin-top">
          TASTE
        </h2>
        <p class="itinerary-text margin-bottom">Find your next soul satisfying meal from browsing voyage itineraries by TASTE
        </p>
        <img loading="lazy" src="/public/img/homepage/restaurant-spread-resize.webp" />
      </figure>
      <!-- item IMG end -->
    </div>
    <!-- item end -->
    <!-- row end -->
    <!-- row start -->
    <div class="row margin-vertical">
      <!-- col start -->
      <div id="find-taste" class="col-md-12 col-sm-12">
        <!-- divider start -->
        <!-- divider end -->
        <!-- button start -->
        <div class="more-wraper-center">
          <div
            class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
          </div>
          <a href="/itinerary">
            <div class="more-button-txt-center more-button-txt-center-close">
              <span>Find your TASTE</span>
            </div>            
          </a>
        </div>
        <!-- button end -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    </div>
    <!-- container end -->
  </section>

  <section class="extra-margin-container extra-margin-container-post">
    <!-- row end -->
    <div class="container-fluid nopadding">
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div class="col-lg-12">
          <!-- item start -->
          <div class="legendary-gallery">
            <!-- item IMG start -->
            <figure class="col-sm-12 col-md-12 move-down flex-center cat-figure gallery-figure gallery-figure-main">
              <h2 id="samarkand-h2" class="margin-top">
                VIBE
              </h2>
              <p id="samarkand-p" class="itinerary-text margin-bottom">Feel out the vibe of your next voyage<br />and
                find your happy place from
                browsing
                voyage itineraries by VIBE</p>
              <img loading="lazy" id="samarkand-img" src="/public/img/homepage/samarkand-uzbekistan-resize.webp" />
            </figure>
            <!-- item IMG end -->
          </div>
          <!-- item end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row">
        <!-- col start -->
        <div id="find-vibe" class="col-md-12 col-sm-12 move-find-up">
          <div class="row">
            <!-- col start -->
            <div class="col-md-12">
              <!-- section txt start -->
              <p class="itinerary-text"></p>
              <!-- section txt end -->
            </div>
            <!-- col end -->
          </div>
          <!-- button start -->
          <div class="more-wraper-center margin-vertical">
            <div id="find-vibe-bdr"
              class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
            </div>
            <a href="/itinerary">
              <div class="more-button-txt-center more-button-txt-center-close">
                <span id="find-vibe">Find your<br />VIBE</span>
              </div>              
            </a>
          </div>
          <!-- button end -->
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
  </section>

  <!-- row start -->
  <section class="row">
    <div class="legendary-gallery">
      <!-- item IMG start -->
      <figure style="top: -8px"
        class="col-sm-12 col-md-12 move-down flex-center cat-figure gallery-figure gallery-figure-main">
        <h2 id="japan-boat-h2" class="margin-top">EXPERIENCE</h2>
        <p id="japan-boat-p" class="itinerary-text">Turn your next trip into an unforgettable journey<br />from browsing
          voyage
          itineraries
          by EXPERIENCE</p>
        <img loading="lazy" id="japan-boat-img" src="/public/img/homepage/japan-boat-resize.webp" />
      </figure>
      <!-- item IMG end -->
    </div>
    <div id="find-experience" class="col-md-12 col-sm-12">
      <!-- button start -->
      <div class="more-wraper-center margin-vertical">
        <div
          class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
        </div>
        <a href="/itinerary">
          <div class="more-button-txt-center more-button-txt-center-close">
            <span>Find your<br />Experience</span>
          </div>          
        </a>
      </div>
      <!-- button end -->

    </div>
  </section>

  <div class="margin-bottom"></div>
</article>

{{> video-testimonials }}
{{> contact footer}}
{{> uparrow}}