{{> nav-bar nav}}
{{> hero hero}}
<a href="/itinerary/nation/{{nation_A3}}">
  <button style="margin: 20px 0px 0px 20px;" class="btn">&larr; Back to all
    <br />{{nation_name}} itineraries
  </button>
</a>
{{!-- generate a post-info partial with post data --}}
{{{post}}}

{{> contact footer}}
{{> uparrow}}