/* 
  35. contact
*/

/* 35. contact */
/* contact modal */
.center-container-contact-modal {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: none;
}

.center-block-contact-modal {
  display: table-cell;
  vertical-align: middle;
}

.center-block-contact-modal-padding-top {
  padding: 100px 0 0 0;
}

.center-block-contact-modal-padding-bottom {
  padding: 0 0 100px 0;
}

.contact-modal-wrapper {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .contact-modal-wrapper {
    width: 90%;
  }
}

.contact-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  visibility: hidden;
  background: #111;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
}

.contact-modal.open {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  visibility: visible;
  background: #111;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.contact-modal-closer {
  position: relative;
  width: 50px;
  height: auto;
  margin: -5px auto 0 auto;
  font-size: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}


/* contact form */
#contact-form {
  position: relative;
  width: 100%;
  top: -20px;
  padding: 0;
  text-align: center;
}

form {
  margin: 0;
  padding: 0;
}

#form input {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #111;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 5px 5px;
  background: none;
  margin: 10px 0 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #111;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

textarea {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #111;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 5px 5px;
  background: none;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#form textarea {
  color: #111;
  margin: 16px 0 10px 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#form input:hover,
#form textarea:hover {
  border-color: rgba(17, 17, 17, .5);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


#form input:focus,
#form textarea:focus {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.success {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  color: #5f5f5f;
  margin: 0 auto;
  padding: 50px 0 25px 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#form .error {
  position: absolute;
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  color: #5f5f5f;
  margin: -13px 0 0 0;
  padding: 0;
  letter-spacing: 0.15em;
  font-weight: 700 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px !important;
}

.make-space {
  margin-left: 15px;
  margin-right: 15px;
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: #111;
}

:-ms-input-placeholder {
  font-size: 12px;
  color: #111;
}

::-moz-placeholder {
  font-size: 12px;
  color: #111;
}

input:-moz-placeholder {
  font-size: 12px;
  color: #111;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

button {
  border: none;
  background: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: normal;
  color: #111;
  margin: 0 auto;
  cursor: pointer;
}

/* social icons */
.social-icons {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.social-icons li a:hover,
.social-icons li a:visited,
.social-icons li a:active,
.social-icons li a:focus {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

input[type="text"] {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #111;
  font-weight: 500;
  line-height: 1.5em;
}

.extra-margin-blog {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  background: none;
}

form {
  margin: 0;
  padding: 0;
}

#form-3 input {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #111;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 5px 5px;
  background: none;
  margin: 10px 0 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #111;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

textarea {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #111;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 5px 5px;
  background: none;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#form-3 textarea {
  color: #111;
  margin: 16px 0 10px 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#form-3 input:hover,
#form-3 textarea:hover {
  border-color: rgba(17, 17, 17, .5);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


#form-3 input:focus,
#form-3 textarea:focus {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#form-3 .error-c {
  position: absolute;
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  color: #5f5f5f;
  margin: -13px 0 0 0;
  padding: 0;
  letter-spacing: 0.15em;
  font-weight: 700 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px !important;
}

.make-space {
  margin-left: 15px;
  margin-right: 15px;
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: #111;
}

:-ms-input-placeholder {
  font-size: 12px;
  color: #111;
}

::-moz-placeholder {
  font-size: 12px;
  color: #111;
}

input:-moz-placeholder {
  font-size: 12px;
  color: #111;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

button {
  border: none;
  background: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: normal;
  margin: 0 auto;
  cursor: pointer;
}

/* copyright */
.copyright a,
.copyright a:hover,
.copyright a:visited,
.copyright a:active,
.copyright a:focus {
  color: #5f5f5f;
}

/* 46. parallax title content */
.parallax-title-content {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.08em;
  color: #2e2e2e;
  background: #fff;
  mix-blend-mode: lighten;
  overflow: hidden;
  margin: -20px auto -6px auto;
  letter-spacing: 4px;
}

.parallax-title-content.parallax-title-content-dark {
  color: #fff;
  background: #000;
  mix-blend-mode: darken;
}

@media all and (min-width: 1920px) {
  .parallax-title-content {
    font-size: 100px;
    margin: -26px auto -6px auto;
  }
}

@media only screen and (max-width: 1200px) {
  .parallax-title-content {
    font-size: 115px;
    margin: -12px auto -3px auto;
  }
}

@media only screen and (max-width: 1024px) {
  .parallax-title-content {
    font-size: 85px;
    margin: -9px auto -2px auto;
    letter-spacing: -0.04em;
  }
}

@media only screen and (max-width: 995px) {
  .parallax-title-content {
    letter-spacing: -0.04em;
  }
}

@media only screen and (max-width: 880px) {
  .parallax-title-content {
    font-size: 85px;
    margin: -9px auto -2px auto;
  }
}

.cords {
  text-align: center;
  letter-spacing: 4px;
}

@media only screen and (max-width: 640px) {
  .parallax-title-content {
    font-size: 35px;
    margin: -7px auto 0 auto;
  }
}

.parallax-title {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
  z-index: 1;
}